.fixing{
    position: fixed;
    width: 100%;
    height: 100%;
     left: 0;
     top: 0;
     z-index: 10;
}



#Firstpage{
    background-color: gray;
}


#SecendPage{
    background-color: rgb(219, 29, 29);
    display: none;
}


h1{
    position: relative;
    top: 264px;
    right: 158px;
    width: 0px;
    margin: auto;
    color: white;
    font-size: xx-large;
}



.background{
    width: 500px;
    height: 400px;
}

#background{

        position: relative;
        top: 407px;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-left: 980px solid transparent;
        border-right: 408px solid transparent;
        
        border-bottom: 284px solid rgb(172, 178, 185);
      
      
}


#midground{

    position: relative;
    top: -331px;
    bottom:  0px;

 width: 0; 
  height: 0; 
  border-left: 1000px solid transparent;
  border-right: 400px solid transparent;
  
  border-top: 426px solid black;

}


#forground{
    position: relative;
    top: -763px;
    left: -6px;
    right: 0px;

    width: 0; 
    height: 0; 
    border-top: 449px solid transparent;
    border-bottom: 309px solid transparent;
    
    border-left: 1003px solid rgb(66, 70, 66);
}


#thiredPage{
    position: relative;
    top: 500px;

    width: 1000px;
    height: 500px;

}


#SecendPage h1 span{
    position: relative;
    top: 0px;
}