div.div1{
    width: 1000px;
    margin: auto;
    padding: 30px;
}

.div3{
    position: relative;
    width: 100px;
    margin: auto;
    padding: 30px;

}

.div2{
    width: 300PX;
    margin: auto;
    padding: 30px;

}
.div31{
    display: none;
}




div.circle{
    position: relative;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    padding: 5px;
    margin-left: 8px;
    overflow: hidden;
    float: left;

}



div.popup{
    background-color:gray;
    width: 200px;
    margin: auto;
}