body{
    background-color: rgb(41, 39, 37);
    color: white;
    font-weight: 800;
    font-family: serif;
}


div.div1{
    width: 500px;
    margin: auto;
    text-align: center;
}


div.my{
    display: none;
    position: relative;
    top: 30px;
    width: 300px;
    margin: auto;

    text-align: center;
    color: white;
    transition: all 0.4s ease-in-out;

}


div.my button{



    background: greenyellow;
    width: 133px;
    height: 43px;
    font-size: x-large;
    color: white;
    font-weight: 700;
    font-style: initial;
    border-radius: 3px;

}

div.my button :hover{
    background: blueviolet;
}

