body{
    background-color: orange;
    
}

h1{
    text-align: center;


}

div.bdir{

    position: relative;
    width: 600px;
    height: 200px;
    top: 238px;
    margin: auto;
    color: white;
    text-align: center;
    font-weight: bold;

    forced-color-adjust: black;
    
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

    

}

div.time{
    
     width: 100px;
     margin: 0px 0px 27px 252px;
     bottom: 50px;
     text-align: center;
     text-shadow: black;
     font-size: xx-large;

     
}

div.t1{
    position: relative;
    top: 210px;
    left: 79px;
    right: 40px;
    bottom: 50px;
    width: 400px;
    margin: auto;
    font-size:xx-large;
    color:white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;

}



div.but{
    width: 600px;
    margin: auto;
}

button{
    width: 160px;
    background-color: orange;
    border: white solid 2px;
    font-size: xx-large;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: 700;
    
    padding: 10px 0px 10px 0px;
    
}
button:hover{
    background-color: thistle;
}